
__pycache__/
*.py[cod]
*$py.class


venv/
.venv/
env/
ENV/


.vscode/
.idea/

.ipynb_checkpoints/

.env
+
artifacts/random_forest*
artifacts/xgboost*
artifacts/lightgbm*
artifacts/catboost_tuned*

*.log

.DS_Store
Thumbs.db

dist/
build/

.streamlit/secrets.toml